/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
*{
  margin: 0;
  padding: 0;
}
/* SCROLLBAR */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border-radius: 10px;
  margin-right: 10px;
}
/* ::-webkit-scrollbar-track {
} */
::-webkit-scrollbar-thumb {
  background: rgb(126, 126, 126);
  border-radius: 10px;
  margin-right: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--cimatecColor);
}
/* FIM SCROLLBAR */
